/*RESPONSIVE*/
viewport{
  zoom:1.0;
  width: extend-to-zoom;
}
/*Laptop*/
@media screen and (max-width:768px) {
    #container { width:100%;}

}
/*Tablet*/
@media screen and (max-width: 600px) {
    #container {
      width:100%;
    }
}
.container{
  height:100%;
  width: 100%;
}
hr{
  position: absolute;
  width:55vw;
  margin-top:1.3vw;
  margin-left:25vw;
  color: black;
}
.contents{
  position: absolute;
  z-index: 1;
  margin-top:1vw;
  margin-left:7vw;
  font-family: 'Arial', sans-serif;
  font-size:2vw;
  font-weight: bold;
  color:#4759AA;
  line-height: 1.7vw;
  text-align: left;
  text-transform: uppercase;
}
.headlineSES2{
  position: absolute;
  z-index:-2;
  margin-top:0.9vw;
  margin-left:80.5vw;
  font-family:'Arial', sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  color:white ;
  line-height:1.5vw;
  text-align:right;
  background-image:url("images/bg1.png");
  background-size: 100vw 30vw;
  background-position:top;
  color: transparent;
  -webkit-background-clip:text;
}
.homeButton{
  position: absolute;
  z-index: 2;
  margin-top: 22.2vw;
  margin-left: 2.5vw;
  border: 1.5vw solid #50CA5B;
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
}
.home{
  position: absolute;
  height: 1.5vw;
  width: 1.5vw;
  margin-top: -0.8vw;
  margin-left: -0.8vw;
}
.next{
  position: absolute;
  z-index: 2;
  margin-top: 25.5vw;
  margin-left: 2.5vw;
  border: 1.5vw solid #DD2296;
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
}
.description{
  position: absolute;
  z-index: 2;
  width: 14.2vw;
  margin-top:8vw;
  margin-left:6.5vw;
  font-family:'Arial', sans-serif;
  font-size: 1.8vw;
  font-weight:normal;
  color:#7435B8;
  line-height: 1.8vw;
  text-align: right;
}
.upperleft-line{
  position: absolute;
  z-index: 2;
  height: 2vw;
  margin-top: 8.2vw;
  margin-left: 22.2vw;
  border-left:1px solid #7435B8;
}
.arrowright {
  position: absolute;
  z-index:2;
  height: 0.8vw;
  width: 0.8vw;
  margin-top:10.4vw;
  margin-left: 21.6vw;
  border: solid #7435B8;
  border-width: 0 1px 1px 0;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.lowerleft-line{
  position: absolute;
  z-index: 2;
  height: 32vw;
  margin-top: 11.9vw;
  margin-left: 22.2vw;
  border-left:1px solid #7435B8;
}
.img-decentralisation{
  position: absolute;
  z-index:-3;
  height:19vw;
  width: 19vw;
  /*margin-top:24.5vw;
  margin-left:51.5vw;*/
  margin-top:15vw;
  margin-left:41vw;
  border-radius:10vw;
  object-fit:cover;
  object-position: center;
}
.animate-decentralisation{
  animation-name:decentralisation;
  animation-duration: 1s;
  animation-timing-function:ease-in;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes decentralisation {
  0%{
    opacity: 1;
    transform:translateY(0vw);
  }
  100%{
    opacity: 1;
    transform:translate3d(10vw,9vw,0);
  }
}
.img-decentralisation:hover{
  position: fixed;
  height:24vw;
  width:24vw;
  margin-top:13vw;
  margin-left:38vw;
  border-radius:20vw;
  transition-duration: 0.5s;
}
.right-text{
  position: absolute;
  z-index: 2;
  margin-top:24vw;
  margin-left:42.5vw;
  font-family:'Arial', sans-serif;
  font-size: 2.2vw;
  font-weight:normal;
  color:white;
}
.img-decarbonisation{
  position: absolute;
  z-index: -2;
  height:19vw;
  width: 19vw;
  /*margin-top:6.5vw;
  margin-left:41vw;*/
  margin-top:15vw;
  margin-left:41vw;
  border-radius:10vw;
  object-fit: cover;
}
.center-text{
  position: absolute;
  z-index: -2;
  margin-top:23vw;
  margin-left:42.8vw;
  font-family:'Arial', sans-serif;
  font-size: 2.2vw;
  font-weight:normal;
  color:white;
  text-shadow: 1px 3px grey;
}
.text-decarbonisation{
  position: absolute;
  z-index: -2;
  width:17vw;
  margin-top: 15vw;
  margin-left: 74vw;
  font-family:'Arial', sans-serif;
  font-size: 1vw;
  color: grey;
  font-weight:lighter;
  line-height: 1.2vw;
  text-align: right;
  opacity: 0;
  visibility: visible;
}
.img-decarbonisation:hover{
  position: fixed;
  height:24vw;
  width:24vw;
  margin-top:13vw;
  margin-left:38.8vw;
  border-radius: 20vw;
  transition-duration: 0.5s;
  opacity: 3;
}
.animate-decarbonisation{
  animation-name:decarbonisation;
  animation-duration: 1s;
  animation-timing-function:ease-in;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes decarbonisation {
  0%{
    opacity: 1;
    transform:translateY(0vw);
    z-index:-2;
  }
  100%{
    opacity: 1;
    transform:translateY(-8.5vw);
    z-index: -2;
  }
}

.img-digitalisation{
  position: absolute;
  z-index: 3;
  height:19vw;
  width: 19vw;
  /*margin-top:24.5vw;
  margin-left:31.5vw;*/
  margin-top:15vw;
  margin-left:41vw;
  border-radius:10vw;
  object-fit:cover;
  object-position: left;
}
.img-digitalisation:hover{
  position: fixed;
  z-index: 3;
  height:24vw;
  width:24vw;
  margin-top:13vw;
  margin-left:39vw;
  border-radius: 20vw;
  transition-duration: 0.5s;
}
.animate-digitalisation{
  animation-name:digitalisation;
  animation-duration: 1s;
  animation-timing-function:ease-in;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes digitalisation {
  0%{
    opacity: 1;
    transform:translateY(0vw);
    z-index: 3;
  }
  100%{
    opacity: 1;
    transform:translate3d(-10vw,9vw,0);
    z-index: 3;
  }
}
.left-text{
  position: absolute;
  z-index: 3;
  margin-top:24vw;
  margin-left:44vw;
  font-family:'Arial', sans-serif;
  font-size: 2.2vw;
  font-weight:normal;
  color:white;
}

.blue-line{
  position: absolute;
  z-index:2;
  height:2vw;
  width: 85vw;
  margin-top:46.7vw;
  margin-left:8vw;
  border-left: 4.5px solid #7ecede ;
  border-bottom: 4.5px solid #7ecede ;
  border-bottom-left-radius: 10px;
}
.pl_logo{
  z-index: 2;
  position: absolute;
  height:12vw;
  width:12vw;
  margin-top:40.5vw;
  margin-left:5.5vw;
  display:inline-block;
  background-image:url("images/pl_logo.jpg");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}
.ema_logo{
  z-index: 2;
  position: absolute;
  height:9vw;
  width:9vw;
  margin-top:42.1vw;
  margin-left:83vw;
  display:inline-block;
  background-image:url("images/ema_logo.jpg");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}
