/*RESPONSIVE*/
viewport{
  zoom:1.0;
  width: extend-to-zoom;
}
/*Laptop*/
@media screen and (max-width:768px) {
    #container { width:100%;}

}
/*Tablet*/
@media screen and (max-width: 600px) {
    #container {
      width:100%;
    }
}
 a {
   text-decoration: none;
 }
.container{
  height:auto;
  width: auto;
}
/****1ST PAGEPLT*****/
.containerPLT{
  height:auto;
  width: 60%;
}
.PLTheadline{
  position: absolute;
  z-index: 2;
  margin-left: 10vw;
  color: #7766A9;
  line-height: 10vw;
  font-size: 10vw;
  font-weight: bold;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/*PLT-Animation*/
.animate-PLTheadline {
  animation-name: topLeft;
  animation-duration: 2s;
  animation-timing-function:ease-in;
  animation-delay: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes topLeft {
  0% {
    opacity: 2;
    transform: translate3d(0,0,0);
    font-size: 10vw;
    line-height: 8vw;
}
25% {
  opacity: 1;
  transform: translate3d(0px,5px,0);
  font-size: 4vw;
  line-height: 4vw;
}
50% {
  opacity: 1;
  transform: translate3d(0px,5px,0);
  font-size: 4vw;
  line-height: 4vw;
}
75% {
  opacity: 1;
  transform: translate3d(0px,5px,0);
  font-size: 4vw;
  line-height: 4vw;
}
100% {
  opacity: 0;
  transform: translate3d(0px,5px,0);
  font-size: 4vw;
  line-height: 4vw;
  }
}

/****1ST PAGE SES****/
.containerSES{
  height:auto;
  width: auto;
}
.SESheadline{
  position: absolute;
  z-index:-2;
  margin-top: 5vw;
  margin-left:22vw;
  font-family:'Arial', sans-serif;
  font-size: 10vw;
  font-weight: bold;
  color:white ;
  line-height: 10vw;
  text-align:right;
  background-image:url("images/bg1.png");
  background-size:75vw 55vw;
  background-position:bottom;
  color: transparent;
  -webkit-background-clip:text;
}
.animate-SESheadline {
  animation-name: slideRight;
  animation-duration: 3s;
  animation-timing-function:linear;
  animation-delay: 0s;
  animation-direction:normal;
  animation-iteration-count:none;
  animation-fill-mode:forwards;
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    letter-spacing:2.5px;
  }
  25% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    letter-spacing:2.5px;
  }
  50% {
    opacity: 0;
    transform: translate3d(-40%, 0, 0);
    letter-spacing:2.5px;
  }
  75% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    letter-spacing:3px;
  }
  95% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    letter-spacing: 3px;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    letter-spacing: 0px;
  }
}
.box-ema_logo{
  z-index: 2;
  position: absolute;
  height:9vw;
  width:9vw;
  margin-top:40vw;
  margin-left:7.6vw;
  display:inline-block;
  background-image:url("images/ema_logo.jpg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
.box-pl_logo{
  position: absolute;
  z-index: 2;
  display:inline-block;
  height:9vw;
  width:9vw;
  margin-top:39.5vw;
  margin-left:17.5vw;
  background-image:url("images/pl_logo.png");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

/*****2ND PAGE*****/
.containerSES{
  height:auto;
  width: auto;
}
.SESheadline{
  position: absolute;
  z-index:-2;
  color:white ;
  font-size: 10vw;
  line-height: 10vw;
  margin-top: 18vw;
  margin-left:22vw;
  font-family:'Arial', sans-serif;
  font-weight: bold;
  text-align:right;
  background-image:url("images/bg1.png");
  background-size:75vw 55vw;
  background-position:bottom;
  -webkit-background-clip:text;
  color: transparent;
}
/*SES-Animation*/
.animate-SES-upperRight {
  animation-name: upperRight;
  animation-duration: 0.5s;
  animation-timing-function:linear;
  animation-delay: 0s;
  animation-direction: normal;
  animation-iteration-count:none;
  animation-fill-mode:forwards;
}
@keyframes upperRight {
  0% {
    opacity: 1;
    transform: translate3d(0,0,0);
    font-size: 10vw;
    line-height: 10vw;
}
  100% {
    opacity: 1;
    transform: translate3d(58vw,-17vw,0);
    font-size: 1.5vw;
    line-height:1.5vw;
    background-image:url("images/bg1.png");
    background-size: 100vw 30vw;
    background-position:top;
    color: transparent;
    -webkit-background-clip:text;
  }
}
.PLTheadline2{
  position: absolute;
  z-index:-1;
  margin-top: 20vw;
  margin-left:37vw;
  font-family:'Arial', sans-serif;
  font-size: 3.5vw;
  font-weight:bold;
  color:#3F3FA5;
  line-height: 3vw;
  text-align:center;
}
.PLTheadline2:hover{
  color:grey;
}
.animate-PLT-center {
  animation-name: center_PLt;
  animation-duration: 3s;
  animation-timing-function:ease;
  animation-delay: 0s;
  animation-direction:alternate;
  animation-iteration-count:1;
  animation-fill-mode:backwards;
}
@keyframes center_PLt {
  0% {
    opacity: 0;
}
  100% {
    opacity: 1;
  }
}
.box{
  position: absolute;
  z-index:2;
  height:2vw;
  width: 85vw;
  margin-top:44vw;
  margin-left:20vw;
  border-left: 4.5px solid #7ecede ;
  border-bottom: 4.5px solid #7ecede ;
  border-bottom-left-radius: 10px;
}
.animate-fade-box {
  animation-name: fadebox;
  animation-duration:2s;
  animation-timing-function:linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode:forwards;
}
@keyframes fadebox {
  0% {
    opacity:0;
    left:50%;
    width:0%;
    transform: translate3d(0,0,0);
  }
  100% {
    opacity:1;
    margin-left:8.4vw;
    width:85vw;
    transform: translate3d(0px,5px,0);
  }
}
.organised{
  position: absolute;
  z-index: 2;
  margin-top:41.1vw;
  margin-left:9.6vw;
  font-family:'Arial', sans-serif;
  font-size: 1vw;
  font-weight: lighter;
  font-style: normal;
  color: gray;
}
.animate-fade {
  animation-name: fadeOrganised;
  animation-duration:1s;
  animation-timing-function:ease-in;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode:forwards;
}
@keyframes fadeOrganised {
  0% {
    opacity: 1;
    transform: translate3d(0,0,0);
    color: grey;
}
100% {
  opacity: 0;
  transform: translate3d(0px,5px,0);
  }
}
.animate-ema-right {
  animation-name: switchRight;
  animation-duration: 1.5s;
  animation-timing-function:linear;
  animation-delay: 0.5s;
  animation-direction:normal;
  animation-iteration-count:none;
  animation-fill-mode:forwards;
}
@keyframes switchRight {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(75vw, 0, 0);
  }
}
.animate-pl-left {
  animation-name: switchLeft;
  animation-duration: 1.5s;
  animation-timing-function:linear;
  animation-delay: 0.5s;
  animation-direction:normal;
  animation-iteration-count:none;
  animation-fill-mode:forwards;
}
@keyframes switchLeft {
  0% {
    opacity: 1;
    transform: translate3d(0,0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-10vw, 0, 0);
  }
}

/*****3RD PAGE*****/
hr{
  width:62vw;
  margin-top:2.5vw;
  color: black;
}
.contents{
  position: absolute;
  z-index: 1;
  margin-top:-1.2vw;
  margin-left:7vw;
  font-family: 'Arial', sans-serif;
  font-size:2vw;
  font-weight: bold;
  color:#7766A9;
}
.SESheadline2{
  position: absolute;
  z-index:-2;
  margin-top:-1.8vw;
  margin-left:80.5vw;
  font-family:'Arial', sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  line-height:1.5vw;
  color:white;
  text-align:right;
  background-image:url("images/bg1.png");
  background-size: 100vw 30vw;
  background-position:top;
  color: transparent;
  -webkit-background-clip:text;
}
/*OVERVIEW OF GLOBAL LANDSCAPE*/
.gl-left{
  position: absolute;
  z-index: 2;
  margin-top: 1.5vw;
  margin-left: 22vw;
  font-family:'Arial', sans-serif;
  font-size: 2vw;
  font-weight: bold;
  color:#35B955;
  line-height:2vw;
  text-align:right;
}
.animate-gl-fade{
  animation-name: fadeGl;
  animation-duration: 1s;
  animation-timing-function:linear;
  animation-delay: 0s;
  animation-direction:normal;
  animation-iteration-count:none;
  animation-fill-mode:forwards;
}
@keyframes fadeGl {
  0% {
    opacity: 0;
    transform: translate3d(-5vw, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(1vw, 0, 0);
  }
}
.gl-middle{
  position: absolute;
  z-index:2;
  height: 10.3vw;
  margin-top:0.5vw;
  margin-left:49.2vw;
  border-left: 5.5px solid #35B955;
}
.gl-round{
  position:absolute;
  z-index:2;
  height: 7vw;
  width: 3.7vw;
  margin-top: 2vw;
  margin-left: 45.5vw;
  background: #35B955;
  border-bottom-right-radius:50vw;
  border-top-right-radius:50vw;
}
.animate-green-rotate {
  animation-name: rotategreen;
  animation-duration: 1s;
  animation-timing-function:linear;
  animation-delay: 0s;
  animation-direction:normal;
  animation-iteration-count:none;
  animation-fill-mode:forwards;
}
@keyframes rotategreen {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform:rotateY(180deg);
  }
}
.gl-Global{
  position: absolute;
  z-index: 2;
  margin-top: 3vw;
  margin-left:51vw;
  font-family:'Arial', sans-serif;
  font-size:1.5vw;
  font-weight: lighter;
  color:#6D27B2;
  text-align:left;
}
.gl-Global:hover{
  font-size:1.8vw;
  transition-duration: 0.5s;
}
/*OVERVIEW OF LOCAL LANDSCAPE*/
.ll-left{
  position: absolute;
  z-index: 2;
  margin-top: 17.2vw;
  margin-left: 23vw;
  font-family:'Arial', sans-serif;
  font-size: 2vw;
  font-weight: bold;
  color:#E12CAB;
  line-height:2vw;
  text-align:right;
}
.animate-Ll-fade{
  animation-name: fadeLl;
  animation-duration: 1s;
  animation-timing-function:linear;
  animation-delay: 0s;
  animation-direction:normal;
  animation-iteration-count:none;
  animation-fill-mode:forwards;
}
@keyframes fadeLl {
  0% {
    opacity: 0;
    transform: translate3d(-5vw, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(1vw, 0, 0);
  }
}
.ll-middle{
  position: absolute;
  z-index:2;
  height: 20vw;
  margin-top:12vw;
  margin-left:49.2vw;
  border-left: 5.5px solid #E12CAB;
}
.ll-round{
  position:absolute;
  z-index:2;
  height: 7vw;
  width: 3.7vw;
  margin-top: 17.5vw;
  margin-left: 45.5vw;
  background: #E12CAB;
  border-top-right-radius:50vw;
  border-bottom-right-radius:50vw;
}
.animate-pink-rotate {
  animation-name: rotatepink;
  animation-duration: 1s;
  animation-timing-function:linear;
  animation-delay: 0s;
  animation-direction:normal;
  animation-iteration-count:none;
  animation-fill-mode:forwards;
}
@keyframes rotatepink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform:rotateY(180deg);
  }
}
.ll-History{
  position: absolute;
  z-index: 2;
  margin-top: 11.5vw;
  margin-left:51vw;
  color:#6D27B2;
  text-align:left;
  font-family:'Arial', sans-serif;
  font-size:1.5vw;
  font-weight: lighter;
}
.ll-History:hover{
  font-size: 1.8vw;
  transition:all 0.5s linear;
}
.ll-Electricity{
  position: absolute;
  z-index: 2;
  margin-top: 14.5vw;
  margin-left:51vw;
  font-family:'Arial', sans-serif;
  font-size:1.5vw;
  font-weight: lighter;
  color:#6D27B2;
  text-align:left;
}
.ll-Electricity:hover{
  font-size:1.8vw;
  transition-duration: 0.5s;
}
.ll-Energy{
  position: absolute;
  z-index: 2;
  margin-top: 17.5vw;
  margin-left:51vw;
  font-family:'Arial', sans-serif;
  font-size:1.5vw;
  font-weight: lighter;
  color:#6D27B2;
  text-align:left;
}
.ll-Energy:hover{
  font-size:1.8vw;
  transition-duration: 0.5s;
}
.ll-Gas{
  position: absolute;
  z-index: 2;
  margin-top: 20.5vw;
  margin-left:51vw;
  font-family:'Arial', sans-serif;
  font-size:1.5vw;
  font-weight: lighter;
  color:#6D27B2;
  text-align:left;
}
.ll-Gas:hover{
  font-size:1.8vw;
  transition-duration: 0.5s;
}
.ll-Switches{
  position: absolute;
  z-index: 2;
  margin-top: 23.5vw;
  margin-left:51vw;
  font-family:'Arial', sans-serif;
  font-size:1.5vw;
  font-weight: lighter;
  color:#6D27B2;
  text-align:left;
}
.ll-Switches:hover{
  font-size: 2vw;
  transition-duration: 0.5s;
}
.ll-EnergyT{
  position: absolute;
  z-index: 2;
  margin-top: 26.5vw;
  margin-left:51vw;
  font-family:'Arial', sans-serif;
  font-size:1.5vw;
  font-weight: lighter;
  color:#6D27B2;
  text-align:left;
}
.ll-EnergyT:hover{
  font-size:1.8vw;
  transition-duration: 0.5s;
}
/*LOCAL INITIATIVE ON R&D AND TALENT ATTRACTION*/
.li-left{
  position: absolute;
  z-index: 2;
  margin-top: 34.5vw;
  margin-left: 17vw;
  font-family:'Arial', sans-serif;
  font-size: 2vw;
  font-weight: bold;
  color:#59CFEE;
  line-height:2vw;
  text-align:right;
}
.animate-li-fade {
  animation-name: fadeLi;
  animation-duration: 1s;
  animation-timing-function:linear;
  animation-delay: 0s;
  animation-direction:normal;
  animation-iteration-count:none;
  animation-fill-mode:forwards;
}
@keyframes fadeLi {
  0% {
    opacity: 0;
    transform: translate3d(-5vw, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(1vw, 0, 0);
  }
}
.li-middle{
  position: absolute;
  z-index:2;
  height:10.3vw;
  margin-top:33.5vw;
  margin-left:49.2vw;
  border-left: 5.5px solid #59CFEE;
}
.li-round{
  position:absolute;
  z-index:2;
  height: 7vw;
  width: 3.7vw;
  margin-top: 35vw;
  margin-left: 45.5vw;
  background: #59CFEE;
  border-top-right-radius:50vw;
  border-bottom-right-radius:50vw;
}
.animate-green-rotate {
  animation-name: rotateblue;
  animation-duration: 1s;
  animation-timing-function:linear;
  animation-delay: 0s;
  animation-direction:normal;
  animation-iteration-count:none;
  animation-fill-mode:forwards;
}
@keyframes rotateblue {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform:rotateY(180deg);
  }
}
.li-Innovative{
  position: absolute;
  z-index: 2;
  margin-top: 33.5vw;
  margin-left:51vw;
  font-family:'Arial', sans-serif;
  font-size:1.5vw;
  font-weight: lighter;
  color:#6D27B2;
  text-align:left;
}
.li-Innovative:hover{
  font-size: 1.8vw;
  transition-duration: 0.5s;
}
.li-Talent{
  position: absolute;
  z-index: 2;
  margin-top: 36.5vw;
  margin-left:51vw;
  font-family:'Arial', sans-serif;
  font-size:1.5vw;
  font-weight: lighter;
  color:#6D27B2;
  text-align:left;
}
.li-Talent:hover{
  font-size: 1.8vw;
  transition-duration: 0.5s;
}
.li-Vibracy{
  position: absolute;
  z-index: 2;
  margin-top: 39.5vw;
  margin-left:51vw;
  font-family:'Arial', sans-serif;
  font-size:1.5vw;
  font-weight: lighter;
  color:#6D27B2;
  text-align:left;
}
.li-Vibracy:hover{
  font-size: 1.8vw;
  transition-duration: 0.5s;
}
.blue-line{
  position: absolute;
  z-index:2;
  height:2vw;
  width: 85vw;
  margin-top:45.5vw;
  margin-left:8vw;
  border-left: 4.5px solid #7ecede ;
  border-bottom: 4.5px solid #7ecede ;
  border-bottom-left-radius: 10px;
}
.pl_logo{
  z-index: 2;
  position: absolute;
  height:12vw;
  width:12vw;
  margin-top:39vw;
  margin-left:5.5vw;
  display:inline-block;
  background-image:url("images/pl_logo.jpg");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}
.ema_logo{
  z-index: 2;
  position: absolute;
  height:9vw;
  width:9vw;
  margin-top:41vw;
  margin-left:83vw;
  display:inline-block;
  background-image:url("images/ema_logo.jpg");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}
/*.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}*/
